<section class="chars" id="chars">
  <div class="chars-content-wrap container">
    <h2 class="chars-title">Main Characters</h2>
    <img class="chars-img-desktop" src="./img/desktop/main-characters-desktop.png" alt="" />
    <img class="chars-img" src="./img/mobile/main-characters.png" alt="" />
    <h3 class="chars-subtitle">Meet the Legendary Trio</h3>
    <p class="chars-text">
      Bound by fate and forged in battle, these three heroes stand as the last
      light against rising darkness. <br />
      <span class="chars-span">The Queen of Light</span> leads with wisdom and powerful magic. <br />
      <span class="chars-span">The Emerald Warden</span> brings nature’s force with silent strength. <br />
      <span class="chars-span">The Blade of Ice</span> charges forward with courage and a crystal-clear will.
      <br />
      Together, they are Crystal Legends — ready to defend the realm
    </p>
  </div>
</section>
