<section class="features" id="features">
  <div class="features-content-wrap container">
    <h2 class="features-title">Features</h2>

    <div class="features-content">
      <img
        class="features-main-image"
        src="./img/general/features-img.png"
        alt=""
      />

      <div class="features-items">
        <div class="feature-item">
          <img
            class="feature-icon"
            src="./img/general/features-ico-1.png"
            alt=""
          />
          <div class="feature-text">
            <h3 class="feature-text-title">Idle Combat, Smart Choices</h3>
            <p class="feature-text-desc">
              Battle while you’re away, return to rich rewards.
            </p>
          </div>
        </div>

        <div class="feature-item">
          <img
            class="feature-icon"
            src="./img/general/features-ico-2.png"
            alt=""
          />
          <div class="feature-text">
            <h3 class="feature-text-title">Squad Synergy</h3>
            <p class="feature-text-desc">
              Mix roles and elements for the ultimate team comp.
            </p>
          </div>
        </div>

        <div class="feature-item">
          <img
            class="feature-icon"
            src="./img/general/features-ico-3.png"
            alt=""
          />
          <div class="feature-text">
            <h3 class="feature-text-title">Factions &amp; Lore</h3>
            <p class="feature-text-desc">
              Explore realms, unlock secrets, and discover legends.
            </p>
          </div>
        </div>

        <div class="feature-item">
          <img
            class="feature-icon"
            src="./img/general/features-ico-4.png"
            alt=""
          />
          <div class="feature-text">
            <h3 class="feature-text-title">Boss Raids, PvP Arena, Campaigns</h3>
            <p class="feature-text-desc">Plenty of content to master.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
