<section class="gallery" id="gallery">
  <div class="gallery-content-wrap container">
    <h2 class="gallery-title">Magic Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/general/gallery-slide-1.png"
            alt=""
            class="gallery-swiper-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/general/gallery-slide-2.png"
            alt=""
            class="gallery-swiper-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/general/gallery-slide-3.png"
            alt=""
            class="gallery-swiper-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/general/gallery-slide-4.png"
            alt=""
            class="gallery-swiper-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/general/gallery-slide-5.png"
            alt=""
            class="gallery-swiper-img"
          />
        </li>
      </ul>
    </div>
    <div class="gallery-swiper-nav">
      <button class="swiper-btn-left"><img src="./img/desktop/arrow-left.png" alt=""></button>
      <div class="gallery-pagination"></div>
      <button class="swiper-btn-right"><img src="./img/desktop/arrow-right.png" alt=""></button>
    </div>
  </div>
</section>
