<section class="gameplay" id="gameplay">
  <div class="gameplay-content-wrap container">
    <h2 class="gameplay-title">Gameplay</h2>

    <div class="gameplay-content">
      <img
        class="gameplay-screenshot"
        src="./img/general/gameplay.png"
        alt="Gameplay screenshot"
      />

      <div class="gameplay-details">
        <p class="gameplay-desc">
          <span class="gameplay-desc-highlight">Crystal Legends</span>
          blends idle mechanics with deep tactical battles. Players build hero
          squads, counter enemy formations, and unleash powerful ultimates. Even
          when offline, progress never stops. Strategy meets simplicity in a
          magical setting filled with epic battles and ever-evolving quests.
        </p>
        <a href="/#home" class="gp-link"
          ><img class="gameplay-link" src="./img/general/gp-btn.png" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
