<header class="header-section">
  <div class="header-content-wrap container">
    <button class="burger-menu">
      <img src="./img/mobile/burger-menu.png" alt="" />
    </button>
  </div>
</header>

<div class="backdrop container">
  <button class="close-menu hidden">
    <img class="close-img" src="./img/mobile/close-menu.png" alt="" />
  </button>
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a href="#home" class="backdrop-link">Home</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#chars" class="backdrop-link">Main Characters</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#gallery" class="backdrop-link">Magic Gallery</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#features" class="backdrop-link">Features</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#shine" class="backdrop-link">What Makes It Shine</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#gameplay" class="backdrop-link">Gameplay</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#reviews" class="backdrop-link">Reviews</a>
    </li>
  </ul>
</div>
