<section class="shine" id="shine">
  <div class="shine-content-wrap container">
    <h2 class="shine-title">What Makes It Shine</h2>
    <div class="shine-swiper swiper">
      <ul class="shine-swiper-wrapper swiper-wrapper">
        <li class="shine-swiper-slide swiper-slide">
          <img class="shine-swiper-image" src="./img/general/shine-border.png" alt="">
          <div class="shine-swiper-content">
            <img class="shine-swiper-icon" src="./img/general/shine-img-1.png" alt="">
            <p class="shine-swiper-text">Enchanting visuals and cinematic skills</p>
          </div>
        </li>
        <li class="shine-swiper-slide swiper-slide">
          <img class="shine-swiper-image" src="./img/general/shine-border.png" alt="">
          <div class="shine-swiper-content">
            <img class="shine-swiper-icon" src="./img/general/shine-img-2.png" alt="">
            <p class="shine-swiper-text">Strategic flexibility in hero builds</p>
          </div>
        </li>
        <li class="shine-swiper-slide swiper-slide">
          <img class="shine-swiper-image" src="./img/general/shine-border.png" alt="">
          <div class="shine-swiper-content">
            <img class="shine-swiper-icon" src="./img/general/shine-img-3.png" alt="">
            <p class="shine-swiper-text">Regular events and reward systems</p>
          </div>
        </li>
        <li class="shine-swiper-slide swiper-slide">
          <img class="shine-swiper-image" src="./img/general/shine-border.png" alt="">
          <div class="shine-swiper-content">
            <img class="shine-swiper-icon" src="./img/general/shine-img-4.png" alt="">
            <p class="shine-swiper-text">Deep guild system and co-op play</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
